/* @import "tailwindcss"; */
@import 'bootstrap/dist/css/bootstrap.min.css';


/* .lit{

    background-color: wheat;
    color: black;

}

.dark{
    background-color: black;
    color: aliceblue;
} */